<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ totalTodos }}</strong> Por terminar</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li (click)="changeFilter(status)" *ngFor="let status of listStatus">
            <a [ngClass]="{'selected': currentFilter === status}" [href]="'#/' + status">{{ status }}</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="clearCompleted()" class="clear-completed">Limpiar completadas</button>
</footer>